<main class="page-shell">
  <!-- <section class="toolbar">
    <div>
      <h1>REST API Items</h1>
      <p>List, add, and delete objects from restful-api.dev.</p>
    </div>

    <button type="button" class="refresh-button" (click)="loadItems()" [disabled]="isLoading()">
      {{ isLoading() ? 'Loading...' : 'Refresh' }}
    </button>
  </section>

  @if (errorMessage()) {
  <p class="status error">{{ errorMessage() }}</p>
  }

  <section class="content-layout">
    <aside class="add-panel h-full">
      <h2>Add item</h2>
      <app-add-item (itemCreated)="addItem($event)" />
    </aside>

    <section class="list-panel h-full">
      <h2>Items</h2>

      @if (isLoading()) {
      <p class="status">Loading items...</p>
      } @else {
      <app-item-list [items]="items()" [deletingId]="deletingId()" (itemDeleted)="deleteItem($event)" />
      }

    </section>


  </section>

  <button type="button" (click)="incrementCount()" class="main-button">Increment Count</button>

  <p>Count: {{ count() }}</p>
  <p>Double Count: {{ doubleCount() }}</p>
  <hr class="my-4" />

  <button type="button" (click)="increaseQuantity()" class="main-button">Increase Quantity</button>

  <p>Unit Price: {{ unitPrice() }}</p>
  <p>Quantity: {{ quantity() }}</p>
  <p>Total Price: {{ totalPrice() }}</p>
  <hr class="my-4" />

  <p>User: {{ user().name }} - {{ user().age }}</p>

  <button type="button" (click)="changeUserData()" class="main-button">Change User Data</button>
  <hr class="my-4" />

  <p>Name: {{ userName() }}</p>
  <button type="button" (click)="toggleUserName()" class="main-button">Toggle User Name</button>

  <p>Counter: {{ counter() }}</p>
  <button type="button" (click)="increaseCounter()" class="main-button">Increase Counter</button>
  <hr class="my-4" />
  <button type="button" (click)="toggleDataVisibility()" class="main-button">Toggle Data Visibility</button>

  @if (isDataVisible()) {
  <p>Data is visible</p>
  } @else {
  <p>Data is not visible</p>
  }

  <hr class="my-4" />

  <p>Count2: {{ count2() }}</p>
  <p>Double Count2: {{ doubleCount2() }}</p>
  <button type="button" (click)="resetSignal(count2)" class="main-button">Reset Signal</button>

  <hr class="my-4" />
  <button type="button" (click)="resetSignal(doubleCount2)" class="main-button">Reset Computed Signal</button>

  <hr class="my-4" />
  <h2>selected Manger</h2>
  <p>Manger : {{ selectedEmployee() }}</p>
  @for (employee of employess(); track employee) {
  <button type="button" (click)="selectedManger($index)" class="main-button">{{ employee }}</button>
  }
  <hr class="my-4" />
  <button type="button" (click)="replaceEmployees()" class="main-button">Replace Employees</button>

  <hr class="my-4" />
  <p>Data: {{ data() }}</p>
  <p>Selected Value: {{ selectedValue() }}</p>
  <button type="button" (click)="toggleData()" class="main-button">Toggle Data</button>
  <hr class="my-4" />

  <p>Selected Product: {{ selectedProduct().name }}</p>
  <select name="" id="" [ngModel]="selectedProduct().id" (ngModelChange)="onChange($event)">
    @for (product of products(); track product.id) {
    <option [ngValue]="product.id">{{product.name}}</option>
    }
  </select>
  <hr class="my-4" />
  <button type="button" (click)="refershData()" class="main-button">Refresh Data</button>

  <hr class="my-4" />
  <p>Manger: {{manger().name}}</p>
  <p>Manger: {{currentMnager().name}}</p>
  <button type="button" (click)="changeManger()" class="main-button">Change Manger</button> -->

  <hr class="my-4" />
  @if(userData.hasValue()){
  <p>User Data: {{userData.value().name}}</p>
  }

  @if(userData.isLoading() && !isResolvedStatus()){
  <p class="text-3xl text-red-500">Initial Loading Spinner ...</p>
  }
  @if(userData.isLoading() && isResolvedStatus()){
  <p class="text-3xl text-green-500">Refresh Data Loading Spinner ...</p>
  }

  <button type="button" (click)="increaseUserId()" class="main-button">Increase User Id</button>

</main>